html, body {
   overflow: hidden;
   height: 100%;
}

#main_div {
   text-align: center;
   font-family: 'Lato';
   float: left;
   width: 40%;
   position: relative;
   /*left: 52%;*/
}

#main_bottom {
    padding-left: 5%;
    padding-right: 5%;
}

#right_div {
   float: right;
   width: 60%;
   position: relative;
   overflow: hidden;
   background-color: #EDC9AF;
}

.assignment {
   text-transform: lowercase;
   letter-spacing: 3px;
   font-size: 12px;
}

.title {
   font-family: 'Amatic SC';
   font-size: 50px !important;
}

.names {
   font-size: 10px;
   text-transform: lowercase;
   font-weight: lighter;
   letter-spacing: 1px;
}

#canvas {
   margin-left: 25%;
}

.button {
   font-family: Lato;
   text-transform: lowercase;
   background-color: #EDC9AF;
   font-size: 8px;
   border: none;
   border-radius: 3px;
   letter-spacing: 2px;
   cursor: pointer;
   margin: 10px 10px 10px 10px;
}

.button:hover {
   font-weight: bold;
}

.button:focus {
   outline: none;
}

.ui_label {
   font-family: Lato;
   font-size: 12px;
   text-transform: lowercase;
   letter-spacing: 1px;
   font-weight: bold;
   vertical-align: top;
}